@model TopSolutions.WebApi.Model.Staff;

@{
    ViewData["Title"] = "Delete Staff";
}

<h1>Delete Staff</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Staff</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            UserName
        </dt>
        <dd class="col-sm-10">
            @Model.UserName
        </dd>
        <dt class="col-sm-2">
            Address
        </dt>
        <dd class="col-sm-10">
            @Model.Address
        </dd>
        <dt class="col-sm-2">
            City
        </dt>
        <dd class="col-sm-10">
            @Model.City
        </dd>
        <dt class="col-sm-2">
            SubNationalEntity
        </dt>
        <dd class="col-sm-10">
            @Model.SubNationalEntity
        </dd>
        <dt class="col-sm-2">
            Country
        </dt>
        <dd class="col-sm-10">
            @Model.Country
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="StaffId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>